<body style = "background-color: var(--main-darklg);">
  <div class="row mt-5" >
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src = "https://www.detroitk12.org/cms/lib/MI50000060/Centricity/Domain/87/Microsoft%20Teams%20Logo%202.png" width = "400" height = "300" style = " display: block;
        margin-left: auto; margin-right: auto;
  width: 50%;">
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2" style = "background-color:#4B53BC; border: 2px solid #4b53bc;"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block" style = "color:#4B53BC; font: 15px; background-color: #fff; border: 2px solid #4b53bc">Login</a>
      </div>
    </div>
  </div>
</body>
